body {
    text-align:center;
}

#grimace, #hamburglar {
    width: 200px;
    height: 200px;
    object-fit:cover;
    border-radius: 180px;
    display:block;
    margin: auto;
    position:fixed;
    transition: filter .3s, border .3s;
}

#grimace {
    z-index: 2;
    left: 150px;
}

#grimace:hover, #hamburglar:hover {
    filter: grayscale(100%);
    border: 3px dotted gray;
}